@import "./_vendor/normalize";
@import "./_vendor/_animate";
@import "./_variable";
@import "./_mixin";
@import "./_layout/_sky-area-group";
@import "./_layout/_animation-layer";


*{
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --size: 150; // 設定放大比例
    --unit: calc((var(--size) / 1366) * 1vmin); // 計算寬度
    --background: #e4e4e4;
}

body{
    background:url($default_Background_color);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'微軟正黑體';
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &,*{
        cursor: none;
    }
}

.cursor {
    position: fixed;
    background: #fff;
    width: 10px;
    height: 10px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
}

.shape{
    position: absolute;
    border-radius: 50%;
    // background: rgba(0,0,0,.3);
    border: 1px solid rgba(255,255,255,.5);
    width: 40px;
    height: 40px;
    pointer-events: none;
    z-index: 10000;
}